html,
body {
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.App-header {
  width: calc(100% - 7vw);
  width: -moz-calc(100% - 7vw);
  width: -webkit-calc(100% - 7vw);
  margin-left: 7vw;
  background-color: #fff;
  height: 76px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l2 {
  width: calc(100% - (380px + 7vw));
  width: -moz-calc(100% - (380px + 9vw));
  width: -webkit-calc(100% - (380px + 9vw));
  display: flex;
  position: absolute;
  background-color: aqua;
  height: 604px;
  margin-left: calc(380px + 7vw);
  margin-left: -moz-calc (380px + 7vw);
  margin-left: -webkit-calc (380px + 7vw);
  margin-top: 76px;
  background-color: #f6f7f7;
  padding-left: 30px;
  padding-top: 12px;
  flex-direction: column;
}
.l3 {
  display: flex;
  justify-content: space-between;
  width: 950px;
  align-items: center;
  text-transform: capitalize;
}
.l4 {
  display: flex;
  width: 150px;
  height: 28px;
  justify-content: space-around;
  background-color: #068eee;
  border: none;
  align-items: center;
  border-radius: 5px;
  text-transform: capitalize;
}
* {
  margin: 0;
  padding: 0;
}
.img6 {
  width: 2vw;
  padding-right: 0.4vw;
}
.side1 {
  display: flex;
  justify-content: space-around;
  padding-top: 1vw;
}
.img5 {
  margin-left: 0.5vw;
}
.img2 {
  width: 2vw;
  height: auto;
  padding-right: 2vw;
}
.img4 {
  padding-left: 1vw;
  padding-right: 2vw;
}
.img3 {
  padding-right: 1vw;
  padding-left: 1vw;
}
.App-3 {
  display: flex;
  align-items: center;
}
.img1 {
  width: 2.6vw;
  height: auto;
  padding-right: 1vw;
}
.App-1 {
  display: flex;
  padding-left: 1.5vw;
  justify-content: space-between;
}
.App-side {
  background-color: #fff;
  width: 7vw;
  height: 100%;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
}
.b123 {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  border: none;
  background-color: #068eee;
}
.s2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
}
.im1 {
  width: 2vw;
  padding-top: 50px;
}
.m1 {
  background-color: #e4edf4;
  width: 380px;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 604px;
  margin-left: 7vw;
  margin-top: 76px;
}
.m12 {
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.m33 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-bottom: 10px;
}
.m34 {
  padding-right: 10px;
}
.m13 {
  background-color: #fff;
  width: 157px;
  height: 109px;
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  padding: 3px;
  justify-content: space-between;
}
.m65 {
  width: 14vw;
  height: 4vw;
}
.m23 {
  width: auto;
  margin: 0px 20px 14px 20px;
  height: 160px;
  background-color: #fff;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.l5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}
.l9 {
  display: flex;
  align-items: center;
}
.l10 {
  padding-right: 20px;
}
.l51 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 660px;
  justify-content: space-between;
  padding-top: 10px;
}
.l7 {
  width: 280px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
}
